{% extends 'base.html' %}

{% block title %}Informe de Stock por Bodega{% endblock %}

{% block contenido %}
<div class="container">
    <h1>Informe de Stock por Bodega</h1>
    <div class="list-group">
        {% for bodega, stock in stock_por_bodega.items() %}
            <a href="#" class="list-group-item list-group-item-action">
                <h5 class="mb-1">{{ bodega }}</h5>
                <p class="mb-1">Stock: {{ stock }}</p>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
