{% extends 'base.html' %}

{% block titulo %}Registrar Bodega{% endblock %}

{% block contenido %}
<div class="form-container">
    <h2>Registrar nueva bodega</h2>
    <form action="/registrar_bodega" method="post">
        <div class="form-group">
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="ubicacion">Ubicación:</label><br>
            <input type="text" id="ubicacion" name="ubicacion" required>
        </div>
        <div class="form-group">
            <label for="capacidad_maxima">Capacidad Máxima:</label><br>
            <input type="number" id="capacidad_maxima" name="capacidad_maxima" min="0" required>
        </div>
        <button type="submit" class="btn-submit">Registrar</button>
    </form>
</div>
{% endblock %}

