{% extends 'base.html' %}

{% block titulo %}Stock bodegas{% endblock %}

{% block contenido %}
<div class="form-container">
    <h2>Selecciona una Bodega para ver sus productos</h2>
    <form action="/gestionar_stock" method="get" enctype="multipart/form-data">
        <div class="form-group">
            <label for="bodega">Bodegas:</label><br>
            <select id="bodega" name="bodega" required>
                {% for bodega in bodegas %}
                    <option value="{{ bodega.nombre_bodega }}">{{ bodega.nombre_bodega }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="producto">Productos:</label><br>
            <select id="producto" name="producto" required>
                {% for producto in productos %}
                    <option value="{{ producto.nombre }}">{{ producto.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn-submit">Ver Stock</button>
    </form>
</div>
{% endblock %}

